.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/bg1.jpg');
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.mySwiper {
    border-radius: 5px;
    margin-top: 150px;
    width: 1152px;
}
.banerContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .mySwiper {
    position: relative;
  }
  
  
  .slideContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: #fff;
  }
  
  .textSection {
    max-width: 50%;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #1ABC9C;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .imageSection {
    max-width: 40%;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }
  